@model LogginnViewModel

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/Logginn.css" />
}

<div class="login-wrapper">
<div class="login-container">
    <!-- Tittel for innloggingsskjemaet -->
    <h2 class="login-title">Logg Inn</h2>

    @using (Html.BeginForm("LoggInn", "Account", FormMethod.Post))
    {
        <!-- E-postfelt -->
        <div class="form-group">
            @Html.LabelFor(m => m.Email, "E-post")
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>

        <!-- Passordfelt -->
        <div class="form-group" style="margin-bottom: 10px;">
            @Html.LabelFor(m => m.Password, "Passord")
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessage("Password")
        </div>

        <!-- Sendeknapp for skjema -->
        <button type="submit" class="btn btn-success" style="margin-bottom: 10px;">
            Logg inn
        </button>
    }

    <!-- Link til registreringssiden -->
    <p>Har du ikke en konto? <a href="@Url.Action("Register", "Account")">Registrer deg</a></p>
</div>
</div>

