@model LogginnViewModel

<div class="container">
    <h2>Logg Inn</h2>
    @using (Html.BeginForm("LoggInn", "Account", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Epost)
            @Html.TextBoxFor(m => m.Epost, new { @class = "form-control" })
        </div>
        <div class="form-group" style="margin-bottom: 10px;">
            @Html.LabelFor(m => m.Passord)
            @Html.PasswordFor(m => m.Passord, new { @class = "form-control" })
            @Html.ValidationMessage("Passord")
        </div>
        <button type="submit" class="btn btn-success" style="margin-bottom: 10px;">Logg inn</button>
    }
    <p>Har du ikke en konto? <a href="@Url.Action("Register", "Account")">Registrer deg</a></p>
</div>
