@model RegisterViewModel

<div class="container">
    <h2>Registrer deg</h2>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Epost)
            @Html.TextBoxFor(m => m.Epost, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Passord)
            @Html.PasswordFor(m => m.Passord, new { @class = "form-control" })
        </div>
        <div class="form-group" style="margin-bottom: 10px;">
            @Html.LabelFor(m => m.BekreftPassord)
            @Html.PasswordFor(m => m.BekreftPassord, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-success" style="margin-bottom: 10px;">Registrer deg</button>
    }
    <p>Har du allerede en konto? <a href="@Url.Action("LoggInn", "Account")">Logg inn her</a></p>
</div>
