@model Kartverk.Mvc.Models.MapCorrectionModel

<form asp-action="Save" method="post" enctype="multipart/form-data">
    @Html.ValidationSummary()

    <div class="mb-3">
        <!-- Kategori -->
        <label asp-for="Category" class="form-label">Kategori</label>
        <select asp-for="Category" class="form-control">
            <option value="">Velg kategori</option> <!-- La en tom verdi for valg -->
            <option value="Tursti">Tursti</option>
            <option value="Vei">Vei</option>
            <option value="Sjø">Sjø</option>
            <option value="Stedsnavn">Stedsnavn</option>
            <option value="Annet">Annet/Vet ikke</option>
        </select>
        @Html.ValidationMessageFor(m => m.Category)

        <!-- Beskrivelse -->
        <label asp-for="Description" class="form-label">Beskrivelse</label>
        <input asp-for="Description" class="form-control" />
        @Html.ValidationMessageFor(m => m.Description)

        <!-- Vedlegg/Bilde -->
        <label asp-for="Attachment" class="form-label">Vedlegg/Bilde</label>
        <input asp-for="Attachment" type="file" class="form-control" />

        <!-- X-koordinat -->
        <label asp-for="X" class="form-label">X-koordinat</label>
        <input asp-for="X" class="form-control" value="@Model.X" />

        <!-- Y-koordinat -->
        <label asp-for="Y" class="form-label">Y-koordinat</label>
        <input asp-for="Y" class="form-control" value="@Model.Y" />

        <!-- Send-knapp -->
        <input type="submit" class="btn btn-primary" value="Send" />
    </div>
</form>

